body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.radio-button {
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 10%;
    background: url('play-icon.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    outline: none;
}

.radio-button.pulse {
    animation: pulse 2s infinite;
}

.radio-button.playing {
    background: url('stop-icon.png') no-repeat center center;
    background-size: cover;
    animation: move 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
